@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body .discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #15141F;
  font-family: "Lato", sans-serif;
  border: 2px solid white;
  height: 812px;
  width: 375px;
}

body .discover .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .discover .search .iconloupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: white;
  width: 24px;
  height: 24px;
}

body .discover .search .inputsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  width: 327px;
  height: 48px;
  background-color: #211F30;
  border-radius: 20px;
  margin-left: 30px;
  border: none;
}

body .discover .search ::-webkit-input-placeholder {
  color: #BBBBBB;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body .discover .search :-ms-input-placeholder {
  color: #BBBBBB;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body .discover .search ::-ms-input-placeholder {
  color: #BBBBBB;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body .discover .search ::placeholder {
  color: #BBBBBB;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body .discover .listgender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-right: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
  cursor: pointer;
}

body .discover .listgender::-webkit-scrollbar {
  display: none;
}

body .discover .listgender .genderli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #E2E2E2;
}

body .discover .listgender .genderli:hover {
  color: #FF8F71;
}

body .discover .moviesall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 350px;
  height: 500px;
  margin-top: 150px;
}

body .discover .moviesall .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

body .discover .moviesall .link .imageslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 154px;
  height: 215px;
}

body .discover .moviesall .link .imageslist .img {
  width: 100%;
}
/*# sourceMappingURL=discover.css.map */