@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
$backgroundpage: #15141F;
$colorbutton: #FF8F71;
$fonttitle: "Lato", sans-serif;
$colorgender: #E2E2E2;

body{
    margin: 0;
    padding: 0;
    
    .discover{
       display: flex;
       flex-direction: column;
       background-color: $backgroundpage;
       font-family: $fonttitle;
       border: 2px solid white;
       height: 812px;
       width: 375px;
    
        .search{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            

            .inputsearch{
                display: flex;
                align-content: center;
                position: absolute;
                width: 327px;
                height: 48px;
                background-color: #211F30;
                border-radius: 20px;
                margin-left: 30px;
                border: none;
                color: #BBBBBB;
            
            } 
            ::placeholder {
                color: #BBBBBB;
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 14px;
            }
        }
                .gender{

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 250px;
                    padding: 5px;
                    margin-top: 50px;
                    overflow: scroll;
                    scrollbar-width: none;
                    &::-webkit-scrollbar{display:none};
             

                    .listgender{

                        font-family: $fonttitle;
                        font-size: 16px;
                      
                        .genderli{
                           display: flex;
                           text-decoration: none;
                           color: $colorgender;
                           padding-right: 10px;
                           padding-left: 10px;
                           cursor: pointer;
                           transition: 0.2s ease-in-out;
                       
                        }
                        .genderli:hover{
                            color: $colorbutton;
                        }
                }
            }
         .moviesall{
             display: flex;
             flex-wrap: wrap;
             margin-top: 50px;
             overflow-y: scroll;
             scrollbar-width: none;
             &::-webkit-scrollbar{display:none};
           
            .movieslist {
                display: flex;
                width: 180px;
                height: 250px;

                .link{
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    color: $colorgender;
                   
                    
                    .imageslist{
                        display: flex;
                        padding: 10px;
                     
                       
                        .img{
                            display: flex;
                            border-radius: 20px;
                         
                        }
                    }
                        .alltitlemovies{
                           display: flex;
                           flex-direction: row;
                           margin-top: -20px;
                         
                           .alltitle{
                               display: flex;
                               font-size: 16px;
                               margin-top: 20px;
                               margin-left: 10px;
                             

                           }
                        }
                }
            }
        }
    } 
}

     

