@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
$backgroundpage: #15141F;
$colorbutton: #FF8F71;
$fonttitle: "Lato", sans-serif;
$colorgender: #E2E2E2;

body{
    
    
    .discover{
       display: flex;
       flex-direction: column;
       background-color: $backgroundpage;
       font-family: $fonttitle;
       border: 2px solid white;
       height: 812px;
       width: 375px;
      
   

        .search{
            display: flex;
            flex-direction: column;


            .iconloupe{
                display: flex;
                position: absolute;
                color: white;
                width: 24px;
                height: 24px;
            }
            .inputsearch{
                display: flex;
                align-content: center;
                position: absolute;
                width: 327px;
                height: 48px;
                background-color: #211F30;
                border-radius: 20px;
                margin-left: 30px;
                border: none;
            
            } 
            ::placeholder {
                color: #BBBBBB;
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 14px;

            }
        }
                .listgender{

                    display: flex;
                    flex-direction: row;
                    font-family: $fonttitle;
                    font-size: 16px;
                    margin-right: 10px;
                    overflow-x: scroll;
                    scrollbar-width: none;
                    &::-webkit-scrollbar{display:none};
                    cursor: pointer;

                     .genderli{
                        display: flex;
                        width: 40px;
                        height: 40px;
                        text-decoration: none;
                        color: $colorgender;
                       
                     }
                     .genderli:hover{
                         color: $colorbutton;
                     }
                }
         .moviesall{
             display: flex;
             flex-wrap: wrap;
             width: 350px;
             height: 500px;
             margin-top: 150px;

             .link{
                 display: flex;
                 flex-direction: column;
                 text-decoration: none;
                 
                 .imageslist{
                     display: flex;
                     width: 154px;
                     height: 215px;
                     .img{
                         width: 100%;
                     }
                     .alltitlemovies{
                        
                     }
                 }
             }
         } 
    }
}
     

