.title{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.02em;
     margin-left: 24px;

        .title1{
            color: #FF8F71;
        }
}